/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*COMMON*/
img{
    width: 100%;
    padding: 0 20px;/*dopo provalo*/
}


/*MAIN*/
/*Slider*/
.slider-container{
    position: relative; /*per =>cirlces-container*/
}
.carousel-container{
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}
.chevron{
    font-size: 40px;
    cursor: pointer;
}

/*Circles*/
.circles-container{
    background-color:rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 999px;
    text-align: center;
    position: absolute; /*relativo a =>slider-container*/
    bottom: 20px;
    left: 50%;   
    transform: translateX(-50%);
}
.circle{
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 20px;
}
.circles-container.active{
    color: blue;
}